<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <shutdownHook/>

  	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
          <encoder class="org.spf4j.log.ReadableLogbackEncoder"/>
              <!-- you want JSON, use this:
		<encoder class="org.spf4j.log.AvroLogbackEncoder"/>
              -->
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
          </filter>
	</appender>

	<appender name="default" class="org.spf4j.log.AvroDataFileAppender">
          <fileNameBase>${logFileBase}</fileNameBase>
          <destinationPath>${logFolder}</destinationPath>
	</appender>

        <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
          <appender-ref ref="default"/>
          <queueSize>500</queueSize>
          <maxFlushTime>1000</maxFlushTime>
       </appender>

	<logger name="org.spf4j" level="info" additivity="false">
		<appender-ref ref="ASYNC_FILE" />
	</logger>

	<root level="warn">
          <appender-ref ref="ASYNC_FILE" />
          <appender-ref ref="CONSOLE" />
	</root>

</configuration>