<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <shutdownHook/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
          <encoder class="org.spf4j.log.ReadableLogbackEncoder"/>
              <!-- you want JSON, use this:
		<encoder class="org.spf4j.log.AvroLogbackEncoder"/>
              -->
	</appender>

	<logger name="org.spf4j" level="info" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="warn">
          <appender-ref ref="CONSOLE" />
	</root>

</configuration>